.Set{
    display:flex;
    margin-right: 170px;
}
.find-sets{
    display: flex;
}
img{
    width: 160px;
    height: 100px;
    border-style:groove;
    border-color: purple;
    padding: 3px;

}
#empty-frame{
    width: 200px;
    height: 40px;
    padding: auto;
    border-style:groove;
    border-color: purple;
    margin-right: 100px;
}
#frame1,#frame2,#frame3,#frame4,#frame5,#frame6{
    width: 330px;
    height: 80px;
    padding: auto;
    border-style:groove;
    border-color: purple;
    margin-right: 220px;
}

.show{
    visibility: visible;
    padding: auto;
    border-style:groove;
    border-color: purple;
    margin-right: 100px;
    position: absolute;
    background-color:rgb(241, 247, 244);
}
#shape8,#shape9,#shape10,#shape12,#shape22,#shape34,#shape40,#shape46,#shape48,#shape69,#shape71,#shape75{
    width: 95px;
    height: 60px;
    padding:6px 6px 6px 6px;
    border:10px;
}
/*#im10,#im34,#m48,#im75
{
    margin-left: 100px;
}*/

header{
    
    display: flex;

}
div{
    color:rgb(209, 206, 3);
}
.headline1{
    display: flex;
    font-size: 45px;
    font-weight:bold;
    font-family:'Gill Sans';
    margin-right: 45px;

}
.headline2{
    display: flex;
    font-size: 45px;
    font-weight:bold;
    font-family:'Gill Sans';
    margin-right: 250px;

}
body {
    background-image: url("pictcher/v2.jpg") ;
    font-family:system-ui;
    overflow: scroll;
    width:auto ;
    max-width: 100%;
    background-size: cover;
    background-attachment: fixed;
}
.find-sets{
  display: flex;
  margin-top: 100px;
}
#found2{
    display: none;
}

.firstSet{
    visibility:hidden;
}
.secondSet{
    display: none;
}
.thirdSet{
    display: none;
}
.fourthSet{
    display: none;
}
.fiveSet{
    display: none;
}
.sixthtSet{
    display: none;
}

/*p{
    font-size: xx-large;
    font-family:'Gill Sans MT';
    color: black;
    margin: 10px 200px 10px 50px;
    text-align: center;
}*/
.logo {
    display:inline-block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    box-shadow: #000000;
    border-color: rgb(69, 69, 70);
    border-width: 10px;
    border-style: groove;
    transition-timing-function: linear;
    transition-duration: 0.4s;
    height: 100px;
    width: 100px;
}
.logo:hover {
    width: 200px;
    height: 200px;
}
#big-box{
    margin-right: 70px;
}
#myContainer{
    width: 620px;
    height: 500px;
    position: relative;
    background:#cee6e6;
    margin-left: 50px;
    border-radius: 20%;

}
/*
#myAnimation{
    width: 200px;
    height: 40px;
    padding: auto;
    border-style:groove;
    border-color: purple;
    margin-right: 100px;
    position: absolute;
    background-color:rgb(241, 247, 244);
}*/
#item{
    background: blue;
    position: absolute;
    height: 75px;
    width: 200px;
    margin: 100px;
}
#line{
    margin-right: 40px;
    
}
#win{
    color: rgb(215, 235, 38);
    font-weight: bold;
    size: 100px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 100px;
    text-align: center;


}
